@model List<JobSeeker.Models.Job>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Salary</th>
            <th>Company</th>
            <th>Area</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.Id</td>
                <td>@job.Name</td>
                <td>@job.Description</td>
                <td>@job.Salary</td>
                <td>@job.Company</td>
                <td>@job.Area</td>
                <td>@job.Category</td>
            </tr>
        }
    </tbody>
</table>
